body{
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,
"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif;
width:auto;
margin: 0;
font-size: 19px;
background-color: #F2F2EF;
}
header{

}
.header_line{
  background-color:#262626;
}
.header_wrapper{
  border-bottom: 2px solid Lightgrey;
}
.top_header{
  width: 1200px;
  margin: 0 auto;
}
.top_wrapper{
  align-items: center;
}
h1{
  color: #967249;
  font-family: "ヒラギノ明朝 ProN W6";
  font-size: 2.6em;
  display: inline-block;
  margin-top:4px;
  margin-bottom: 7px;
}
h2{
  font-size: .6em;
  color:#eee;
  display: inline-block;
  margin: 0;
}
.title{
  display:inline-block;
}
p.title_top{
  color:#eee;
  font-size: .9em;
  font-family: 'Osaka';
  margin: 0;
}
div.font_header{
  float: right;
}
.font_header ul{
  list-style: none;
  background-color:  rgb(51,51,51);
  padding-left: 0;
  text-align: center;
  padding: 0;
  margin: 19px 0;
}
li.font_top{
  border-right: 2px solid #262626;
  color:#eee;
  display: inline-block;
  padding: 11px 8px;
  font-size: .6em;
}
.font_list{
  border-right: 2px solid #262626;
  color:#eee;
  display: inline-block;
  padding: 11px 9px;
  font-size: .7rem;
  padding-left: 3px;
}
.list_top{
  width: 1200px;
  margin: 0 auto;
}
nav{
    background-color: #fff;
}
nav ul{
  list-style: none;
  padding-left: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navigation{
  font-size: .8em;
  width: 163.7px;
  padding: 0;
  border-left: 2px solid Lightgrey;
  display: inline-block;
  color:#333;
  margin: 18px 0;
}
li.navigation:last-child {
  border-right: 2px solid Lightgrey;
}
section{
  background-color: #F2F2EF;
  height: 300px;
}
.top_section{
  margin: 0 auto;
}
#top_menu {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 120px;
  bottom: 50px;
  background: #333333;
  opacity: 0.9;
}
#top_menu  a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#top_menu  a::before {
  font-family: "Font Awesome 5 Free";
    content: '\f106';
    font-weight: 900;
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -1px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
      text-align: center;
}
main{
  background-color: #F2F2EF;
  padding-top: 30px;
}
.main_top{
  width:1200px;
  margin: 0 auto;
}
.main_top::after{
  content: " ";
  clear:both;
  display: block;
}
.main_left{
  width: 75%;
  display: inline-block;
}
.article{
  width: 100%;
  margin-right: 0;
  margin-bottom: 50px;
  height: 280px;
}
.article-img{
  width: 60%;
  height: 280px;
}
.text_top{
  display: inline-block;
  float: right;
  width: 37.2%;
  margin-right: 25px;
  vertical-align: middle;
  background-color: white;
  height: 280px;
}
.text_box{
  padding: 10px 20px 10px 20px;
  border-bottom: 1px solid Lightgrey;
}
.detail_box{
  padding: 4px 18px 4px 18px;
}
article{
  margin-right: 25px;
  margin-bottom: 30px;
  width: 270px;
  display: inline-block;
}
a{
  color: inherit;
  text-decoration: none;
}
a:hover a:visited{
  color: inherit;
  text-decoration: none;
}
.main_visual{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 270px;
  display: block;
}
.meta_wrapper{
  background-color: #fff;
}
.explan{
  padding: 10px 20px 10px 20px;
  border-bottom:  1px solid Lightgrey;
  height: 50px;
}
h3{
  margin: 0;
  font-size: .9em;
}
.detail{
  padding: 4px 18px 4px 18px;
  border-bottom:  3px solid Lightgrey;
  vertical-align: middle;
}
span{
  font-size: .6em;
}
object{
  font-size: .6em;
  color: #967249;
}
small{
  font-size: .5em;
}
aside{
  float: right;
  width: 25%;
}
.advertisement img{
  width: 300px;
  height: 220px;
}
.title_head{
  background-color: #967249;
}
.calendar{
  background-color:#E2E2E2;
    border-bottom: 2px solid rgba(100,100,100,0.4);
}
.title_wrapper{
  padding: 10px 20px 10px 20px;
  font-family: "ヒラギノ明朝 ProN W3"
}
.ranking{
  margin-top: 30px;
  width: 300px;
}
.ranking h2{
  font-size: 1em;
}
ul{
  list-style: none;
  margin: 0;
  padding: 7px 20px 7px 20px;
}
li{
  display: inline-block;
  padding: 3px 3px 3px 0px;
  font-size: .8em;
  font-family: "ヒラギノ角ゴ ProN W6";
}
.keyword{
  margin-top: 30px;
  width: 300px;
}
.keyword h2{
  font-size: 1em;
}
.labels{
background-color:#E2E2E2;
}
.search_box{
  background-color: #E2E2E2;
    border-bottom: 2px solid rgba(100,100,100,0.4);
}
.labels ul li{
  background-color: #999;
  color:#fff;
  font-family: "ヒラギノ角ゴ ProN W6";
  padding: 7px 7px 7px 7px;
  margin-top: 5px;
}
#form1{
  padding-left: 20px;
  padding-bottom: 10px;
}
.input{
  width: 65%;
  height: 30px;
}
.search{
  height: 36px;
}
.new{
  margin-top: 30px;
  width: 300px;
}
.new h2{
  font-size: 1em;
}
.article_wrapper{
  width: 300px;
  background-color: #E2E2E2;
  border-bottom: 2px solid rgba(100,100,100,0.4);
}
.article_visual{
  display: inline-block;
}
.article_visual img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit:  cover;
  min-width: 75px;
  width: 75px;
  height: 75px;
}
.article_wrapper article:first-child {
  border-top: none;
}
.article_wrapper article{
  width: 100%;
  margin: 0 auto;
  padding: 10px 10px;
  box-sizing: border-box;
  border-top: 1px dotted #967249;
}
article:last-child{
  width: 100%;
  margin: 0 auto;
}
.summary{
  margin: 18px 0;
  width: 190px;
  float: right;
}
.summary h3{
  font-size: .7em;
}
.list_next ul{
  padding: 60px 0;
  text-align:center;
  margin-left: 100px;
  margin-right: 100px;
}
.list_next ul li{
  font-family: "HiraKakuProN-W3";
  background-color: rgba(100,100,100,0.2);
  padding: 12px 10px 12px 10px;
  margin-right: 5px;
}
.what_dr {
    background-position: center bottom;
    background-size: cover;
    height: 543px;
    background-repeat: no-repeat;
    background-image: url(background2.jpg);
    box-sizing: border-box;
    padding: 30px 10px;
    position: relative;
}

.what_dr::before {
    content: '';
    width: 100%;
    filter: contrast(80%);
    opacity: .4;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 95;
}
.what_dr .what_wrapper {
    width: 900px;
    height: 434px;
    margin: 0px auto;
}
.what_dr .what_wrapper h2 {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    color: #fff;
    font-size: 1.3em;
    width: 100%;
    position: relative;
    z-index: 99;
}
.what_dr .what_wrapper p {
    margin: 30px 0px;
    font-size: .8em;
    line-height: 50px;
    color: #fff;
    z-index: 99;
    position: relative;
    text-align: center;
}
footer {
    box-sizing: border-box;
    padding: 60px 0px;
    background-color: #222;
    height: 394px;
}
footer .out_line {
    width: 1200px;
    margin: 0px auto;
}
footer .out_line ul{
  height: 260px;
}
footer .out_line ul li {
    display: inline-block;
    vertical-align: top;
    height: 260px;
    padding: 0px 20px 0px 20px;
    margin-right: 30px;
    border-right: 1px solid rgba(200,200,200,0.5);
}
footer .out_line ul li ul li {
    display: block;
    border: none;
    padding: 0px;
    height: auto;
    margin-bottom: 16px;
}
footer .out_line ul li ul li a {
    font-size: .7em;
    line-height: 25px;
    color: white;
}
footer .out_line ul li ul li a::after {
    content: ">";
    padding-left: 10px;
}
@media screen and (max-width: 420px){

body{
  height: auto;
}
header{
  width:100%;
}
.header_wrapper {
}
.header_line{
  background-color:#262626;
  width: 100%;
}
.top_header{
  width: 100%;
  margin: 0 auto;
  max-width: 350px;
}
.top_wrapper{
    max-width: 100%;
    width: 100%;
    font-size: .8em;
}
.top_wrapper h1{
  max-width: 100%;
}
.title{
  max-width: 100%;
}
div.font_header{
  display: none;
}
nav {
  width: 100%;
}
nav .list_top{
  width: 100%;
  max-width: 100%;
}
nav ul{
  overflow:scroll;
  white-space: nowrap;
  max-width: 100%;
}
.navigation {
    font-size: .7em;
    width: 38%;
    border-left: 2px solid Lightgrey;
    display: inline-block;
    color: #333;
    margin: 12px 0;
    max-width: 100%;
}
#top_menu {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 5px;
  bottom:20px;
  background: #333333;
  opacity: 0.9;
}
#top_menu  a{
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
}
#top_menu  a::before {
  font-family: "Font Awesome 5 Free";
    content: '\f106';
    font-weight: 900;
    font-size: 20px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
      text-align: center;
}
main{
  height: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.main_top {
  height: 4100px;
  max-width: 320px;
  margin: 0 auto;
}
.main_left{
  width: 100%;
  height: 2800px;
  max-width: 340px;
}
article{
  margin-right: 0;
  width:  100%;
  max-height: 100%;
}
.list_next ul{
  margin: 0;
}

.meta_wrapper{
  max-width: 100%;
  max-height: 100%;
}
.explan{
  max-width: 100%;
  max-height: 100%;
}
.explan h3 {
  font-size: .8em;
}
.detail{
  max-width: 100%;
  max-height: 100%;
}

aside{
  float: none;
  text-align: center;
  max-width: 100%;
  width: 100%;
}
.advertisement img{
  width: 100%;
  max-width: 100%;
}
.title_wrapper{
  max-width: 100%;
}
.ranking {
  max-width: 100%;
    width: 100%;
}
.title_head{
  max-width: 100%;
  width: 100%;
}
.calendar{
  max-width: 100%;
  width: 100%;
}
.calendar ul{
  max-width: 100%;
}
.calendar ul li{
  max-width: 100%;
}
.keyword{
  max-width: 100%;
  width: 100%;
}
.keyword h2 {
  max-width: 100%;
}
.labels {
  width: 100%;
}
.labels ul{

}
.search_box{
  width: 100%;
}
.input{
  width: 60%;
  max-width: 100%;
  text-align: left;
}
.search{
  width: 17%;
  max-width: 100%;
}
.new{
  max-width: 100%;
    width: 100%;
}
.new h2 {
  max-width: 100%;
  width: 100%;
  padding: 0;
}
.article_wrapper{
  max-width: 100%;
  width: 100%;
}

footer .out_line{
  max-width: 100%;
}
.what_dr .what_wrapper{
  width: 100%;
  max-width: 100%;
}
.what_dr .what_wrapper p{
  margin: 10px 0;
  line-height: 40px;
}
.what_dr::before {
    content: '';
    width: 100%;
    filter: contrast(80%);
    opacity: .4;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 95;
}

footer{
  max-height: 100%;
  height: 100%;
}
footer .out_line ul{
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  list-style: none;
}
footer .out_line ul .footer_blok{
  max-width: 100%;
  width: 80%;
  border-bottom: 1px solid rgba(200,200,200,0.5);
  border-right: none;
  padding: 30px 20px 10px 20px;
}
footer .out_line ul .footer_link{
  width: 100%;
  max-width: 100%;
  padding: 0;
}
footer .out_line ul .footer_blok .logo h1{
  font-size: 3em;
}
footer .out_line ul .footer_blok .logo h2{
  font-size: .7em;
}
footer .out_line ul .footer_blok .logo p{
  font-size: 1em;
}
footer .out_line ul .footer_blok:last-child{
  border-bottom: none;
}

footer .out_line ul li ul li{
  max-width: 100%;
  width: 80%;
}

footer .out_line ul li ul li a {
    font-size: 1em;
    line-height: 25px;
    color: white;
}





}
